
thesis-source/root.aux
thesis-source/root.toc
thesis-source/root.synctex.gz
thesis-source/root.pdf
thesis-source/root.lot
thesis-source/root.log
thesis-source/root.blg
thesis-source/root.bbl
thesis-source/root.bcf
thesis-source/root.lof
thesis-source/root.log
thesis-source/root.lot
thesis-source/root.pdf
thesis-source/root.synctex.gz
thesis-source/root.toc
thesis-source/root.synctex(busy)
thesis-source/_minted-root
*.pygtex
*.aux
*.out
*.toc
*.synctex.gz
*.lof
*.lol
*.run.xml
*.synctex
*.bak*
thesis-source/indent.log
*.log
thesis-source/.DS_Store
thesis-fix/T3101_root.bbl
thesis-fix/T3101_root.bcf
thesis-fix/T3101_root.blg
thesis-fix/T3101_root.lot
thesis-fix/T3101_root.pdf
thesis-source/.DS_Store
thesis-source/studienarbeit_pwa.txss
*.bbl
*.bcf
*.blg
*.lot
