
thesis-source/root.aux
thesis-source/root.toc
thesis-source/root.synctex.gz
thesis-source/root.pdf
thesis-source/root.lot
thesis-source/root.log
thesis-source/root.blg
thesis-source/root.bbl
thesis-source/root.bcf
thesis-source/root.lof
thesis-source/root.log
thesis-source/root.lot
thesis-source/root.pdf
thesis-source/root.synctex.gz
thesis-source/root.toc
thesis-source/_minted-root
*.pygtex
*.aux
*.out
*.toc
*.synctex.gz
*.lof
*.lol
*.run.xml
*.synctex
