
thesis-source/root.aux
thesis-source/root.aux
thesis-source/root.toc
thesis-source/root.synctex.gz
thesis-source/root.pdf
thesis-source/root.lot
thesis-source/root.log
thesis-source/root.blg
thesis-source/root.bbl
thesis-source/root.aux
thesis-source/_minted-root/7824FBB57A807A592C8443310C27B8FA85E5A6DCD46088F39D7CF4E68EAF9C40.pygtex
thesis-source/root.aux
thesis-source/root.bcf
thesis-source/root.lof
thesis-source/root.log
thesis-source/root.lot
thesis-source/root.pdf
thesis-source/root.synctex.gz
thesis-source/root.toc
thesis-source/_minted-root/7824FBB57A807A592C8443310C27B8FA85E5A6DCD46088F39D7CF4E68EAF9C40.pygtex
