:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  padding: 4px;
  height: 40px;
}

input[type=text]{
  flex-grow: 1;
  margin:0;
  padding: 0 1vw;
  border:1px solid black;
  font-family: 'Open Sans', sans-serif;
  border-radius: 1vw;
  border: 1px solid #a9a9a9;
}

button{
  width: 10vw;
  margin-left:4px;
  outline: none;
  background-color: #dadada;
  border: 0;
  border-radius: 1vw;
}
